@import "tailwindcss";

@theme {
    --font-nacelle: Nacelle;
    --font-montserrat: Montserrat;
    --my-white: #fafaed;
    --my-pure-white: #f3f3f3;
    --my-black: #141414;
    --my-primary: #d36135;
    --my-primary-darker:#a24936;
    --my-secondary:#83bca9;
}
